@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow Condensed';
}

html, body {
  height: 100%;
  overflow-x: hidden;
  position: relative;
  background: url(assets/space-bg.jpg) no-repeat;
  background-position: center;
}

/* Navbar */

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em;
  border-bottom: 2px solid white;
}

.nav {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 0;
  right: -100%;
  padding: 1em 0;
  z-index: 1;
  transition: 0.5s ease-in;
}

.nav-active {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em 0;
  transition: 0.5s ease-in;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
}

.nav-link {
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.nav-link:hover {
  color: rgb(143, 143, 143);
}

.logo {
  font-size: 1.4rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.hamburger-btn {
  display: block;
  z-index: 1;
}

.hamburger-btn:hover {
  cursor: pointer;
}

.hamburger-line {
  display: block;
  width: 20px;
  height: 2.5px;
  margin: 5px auto;
  background-color: white;
}

/* Home Page */
.home-container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 2em;
  padding: 0 0 2em 0;
}

.home-text-container {
  width: 90%;
  max-width: 1000px;
  /* max-height: 300px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  color: white;
}

.home-text-content {
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.sun-img {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  align-self: stretch;
  margin: 0 auto;
}

.home-h1 {
  font-size: 2.6rem;
  letter-spacing: 1px;
  margin-bottom: 0.2em;
}

.home-p {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.6em;
  text-align: center;
}

.home-facts-container {
  width: 90%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0 auto;
  padding: 1em 0;
}

.home-fact {
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0.5em 0;
  border: 2px solid white;
}

.home-fact-text {
  font-size: 1rem;
  letter-spacing: 1px;
  min-width: 40%;
  text-align: center;
  color: rgb(143, 143, 143);
}

.home-fact-number {
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 1px;
  min-width: 40%;
  text-align: center;
  color: white;
}

/* Planets Pages */

.planet-container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 2em;
  padding: 1em 0 2em 0;
  color: white;
}

.planet-text-container {
  width: 90%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.planet-text-content {
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.planet-img {
  width: 60%;
  max-width: 250px;
  align-self: stretch;
  margin: 0 auto;
  padding: 2em;
  margin-bottom: 1em;
}

.planet-h1 {
  font-size: 2.6rem;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 0.2em;
}

.planet-p {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.6em;
  text-align: center;
}

.planet-facts-container {
  width: 90%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0 auto;
  padding: 1em 0;
}

.planet-fact {
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0.5em 0;
  border: 2px solid white;
}

.planet-fact-text {
  font-size: 1rem;
  letter-spacing: 1px;
  min-width: 40%;
  text-align: center;
  color: rgb(143, 143, 143);
}

.planet-fact-number {
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 1px;
  min-width: 40%;
  text-align: center;
  color: white;
}

/* Media Queries */

@media screen and (min-width: 768px) {

  /* Navbar */
  .navbar-container {
    flex-direction: column;
    padding: 0 0;
    padding-top: 0.6em;
  }

  .nav {
    width: 100%;
    position: static;
    flex-direction: row;
  }

  .logo {
    font-size: 1.4rem;
  }

  .hamburger-btn {
    display: none;
  }

  /* Home Page */
  .home-text-container {
    flex-direction: row;
    align-items: center;
    gap: 3em;
  }

  .sun-img {
    height: 300px;
    object-fit: cover;
  }

  .home-h1 {
    font-size: 3rem;
  }

  .home-p {
    font-size: 1.2rem;
  }

  .home-facts-container {
    flex-direction: row;
  }

  .home-fact {
    flex-direction: column;
  }

  .home-fact-text {
    font-size: 1.2rem;
  }

  .home-fact-number {
    font-size: 1.2rem;
  }

  /* Planet Page */
  .planet-text-container {
    max-height: 300px;
    flex-direction: row;
    align-items: center;
    gap: 3em;
  }

  .planet-h1 {
    font-size: 3rem;
  }

  .planet-p {
    font-size: 1.2rem;
  }

  .planet-facts-container {
    flex-direction: row;
  }

  .planet-fact {
    flex-direction: column;
  }

  .planet-fact-text {
    font-size: 1.2rem;
  }

  .planet-fact-number {
    font-size: 1.2rem;
  }

}

@media screen and (min-width: 1024px) {

  /* Navbar */
  .navbar-container {
    min-height: 10vh;
    flex-direction: row;
  }

  .nav {
    width: 48%;
    justify-content: flex-end;
    gap: 1.5em;
    padding-top: 1em;
    padding-right: 1em;
  }

  .logo {
    font-size: 2rem;
    padding-left: 0.5em;
  }

  /* Home Page */
  .sun-img {
    height: 400px;
    object-fit: cover;
  }

  .home-h1 {
    font-size: 4.4rem;
  }

  .home-p {
    font-size: 1.4rem;
  }

  /* Planet Page */

  .planet-h1 {
    font-size: 4.4rem;
  }

  .planet-p {
    font-size: 1.4rem;
  }

}