@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow Condensed';
}

html, body {
  height: 100%;
  overflow-x: hidden;
  background: url(assets/space-bg.jpg);
  background-position: center;
}

/* Navbar */

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em;
  border-bottom: 2px solid white;
}

.nav {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 0;
  right: -100%;
  padding: 1em 0;
  z-index: 1;
  transition: 0.5s ease-in;
}

.nav-active {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em 0;
  transition: 0.5s ease-in;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.nav-link {
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.nav-link:hover {
  /* border-top: 1px solid white; */
  color: rgb(143, 143, 143);
}

.logo {
  font-size: 1.4rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.hamburger-btn {
  display: block;
  z-index: 1;
}

.hamburger-btn:hover {
  cursor: pointer;
}

.hamburger-line {
  display: block;
  width: 20px;
  height: 2.5px;
  margin: 5px auto;
  background-color: white;
}

/* Media Queries */

@media screen and (min-width: 768px) {
  .navbar-container {
    flex-direction: column;
    padding: 0 0;
    padding-top: 0.6em;
  }

  .nav {
    width: 100%;
    position: static;
    flex-direction: row;
  }

  .logo {
    font-size: 1.4rem;
  }

  .hamburger-btn {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .navbar-container {
    min-height: 10vh;
    flex-direction: row;
  }

  .nav {
    width: 48%;
    justify-content: flex-end;
    gap: 1.5em;
    padding-top: 1em;
    padding-right: 1em;
  }

  .logo {
    font-size: 2rem;
    padding-left: 0.5em;
  }
}